<html>
  <head>
    <script type="text/javascript" src="/vue.js"></script>
    <script type="module">
      import App from '/app.js';
    </script>
    <style>
      .voted {
        background-color: red;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div v-if="appState.state.id === 'new_town_form'">
        Town slug: <input placeholder="input your town slug" v-model=appState.slug /> <br/>
        Player name: <input placeholder="input your player name" v-model=playerName /> <br/>

        <button v-on:click=createTown :disabled="!appState.slug || !playerName">
          Create town
        </button>
      </div>

      <div v-if="appState.state.id === 'waiting_for_players'">
        <div v-if="currentPlayer">
          currentPlayer={{currentPlayer}}
        </div>
        <div v-else>
          Player name: <input placeholder="input your player name" v-model=playerName /> <br/>
          <button v-on:click=joinTown :disabled=!playerName>Join town</button>
        </div>

        Town name: {{ appState.slug }} <br/>
        Players:

        <ul>
          <li v-for="player in appState.players">
            {{player.name}}
          </li>
        </ul>

        <button v-if=canShowStartButton v-on:click=startGame>Start game</button>
      </div>

      <div v-if="appState.state.id === 'day_voting'">
        <ul>
          <li v-for="player in appState.players" v-bind:class="{ voted: hasVotedOn(player) }">
            {{player.name}}
            <button v-if="currentPlayer !== player" v-on:click="vote(player)">Vote!</button>
          </li>
        </ul>
      </div>

      <pre>
        appState={{appState}}
      </pre>


    </div>
  </body>

</html>
