<html>
  <head>
    <script type="text/javascript" src="/vue.js"></script>
    <script type="module">
      import App from '/app.js';
    </script>
    <style>
      .voted {
        background-color: red;
      }
    </style>
  </head>

  <body>
    <div id="app">

      <div id="game-ended" v-if="appState.state.id === 'game_ended'">Game is Ended!</div>

      <div id="new-town-form" v-if="appState.state.id === 'new_town_form'">
        Town slug: <input id="town-slug" placeholder="input your town slug" v-model=appState.slug /> <br/>
        Player name: <input id="player-name" placeholder="input your player name" v-model=playerName /> <br/>

        <button id="create-town" v-on:click=createTown :disabled="!appState.slug || !playerName">
          Create town
        </button>
      </div>

      <div id="waiting-for-players" v-if="appState.state.id === 'waiting_for_players'">
        <div v-if="currentPlayer">
          currentPlayer={{currentPlayer}}
        </div>
        <div v-else>
          Player name: <input id="player-name" placeholder="input your player name" v-model=playerName /> <br/>
          <button id="join-town" v-on:click=joinTown :disabled=!playerName>Join town</button>
        </div>
        Town name: {{ appState.slug }} <br/>
        Players:

        <ul id="players">
          <li v-for="player in appState.players">
            {{player.name}}
          </li>
        </ul>

        <button id="start-game" v-if=canShowStartButton v-on:click=startGame>Start game</button>
      </div>

      <div id="day-voting" v-if="appState.state.id === 'day_voting'">
        <ul id="players">
          <li v-for="player in appState.players" v-bind:id="player.name" v-bind:class="{ voted: hasVotedOn(player) }">
            {{player.name}}
            <button class='voting-btn' v-if="currentPlayer !== player" v-on:click="vote(player)">Vote!</button>
          </li>
        </ul>
      </div>

      <div id="progress" v-if="canShowProgressButton">
        <button id='progress-btn' v-on:click=progressState>Continue Game</button>
      </div>

      // get abstraction by creating vue component of this voting table
      <div id="night-voting" v-if="appState.state.id === 'night_voting'">
        <ul id="players">
          <li v-for="player in appState.players" v-bind:id="player.name" v-bind:class="{ voted: hasVotedOn(player) }">
            {{player.name}}
            <button class='voting-btn' v-if="currentPlayer !== player || player.character === 'mafia'" 
              v-on:click="vote(player)">Vote!</button>
          </li>
        </ul>
      </div>

      <pre>
        appState={{appState}}
      </pre>
    </div>
  </body>
</html>
